@font-face {
  font-family: 'MyriadProCondensed', Arial, sans-serif;
  src: url("../fonts/myriadpro-cond-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 31, ../sass/style.scss */
body {
  font-size: 14px !important;
  background-image: url("../images/bg_body.jpg");
  letter-spacing: -0.5px;
}

/* line 37, ../sass/style.scss */
body, h1, h2, h3, h4, h5, button, a {
  font-family: 'Roboto', Arial, sans-serif !important;
}

/* line 41, ../sass/style.scss */
.full-width {
  width: 100%;
}

/* line 45, ../sass/style.scss */
.block {
  display: block;
  width: 100%;
}

/* line 50, ../sass/style.scss */
.font-medium {
  font-size: 1.25em;
}

/* line 54, ../sass/style.scss */
.no-style {
  list-style-type: none;
}

/* line 58, ../sass/style.scss */
.no-padding {
  padding: 0 !important;
}

/* line 62, ../sass/style.scss */
.no-margin {
  margin: 0 !important;
}

/* line 66, ../sass/style.scss */
.btn-search {
  padding: 0 10px !important;
}

/* line 71, ../sass/style.scss */
.c-purple {
  color: #3d165e;
}

/* line 77, ../sass/style.scss */
.bg-purple {
  background-color: #3d165e;
}
/* line 80, ../sass/style.scss */
.bg-orange {
  background-color: #ff7200;
}

/* line 85, ../sass/style.scss */
.button {
  padding: 6px !important;
  width: 100%;
  color: white !important;
}

/* line 91, ../sass/style.scss */
figure.zoom {
  margin: 0;
  transition: all 0.2s ease;
  overflow: hidden;
  max-height: 230px;
}
/* line 97, ../sass/style.scss */
figure.zoom img {
  transition: all 0.2s ease;
}
/* line 101, ../sass/style.scss */
figure.zoom img:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 1000px) {
  /* line 106, ../sass/style.scss */
  header {
    min-height: 140px;
  }
}
/* line 112, ../sass/style.scss */
header #main-header {
  background-color: #e7e7e7;
}
@media screen and (min-width: 1000px) {
  /* line 112, ../sass/style.scss */
  header #main-header {
    max-height: 60px;
    overflow: visible;
  }
  /* line 119, ../sass/style.scss */
  header #main-header .row.pre-header {
    max-height: 60px;
    overflow: visible;
  }
}
/* line 125, ../sass/style.scss */
header #main-header .logo-container {
  position: relative;
  top: 0px;
  min-height: 60px;
}
/* line 131, ../sass/style.scss */
header #main-header .logo-container .logo {
  margin: 0px;
}
/* line 134, ../sass/style.scss */
header #main-header .logo-container .logo img {
  position: absolute;
}
/* line 140, ../sass/style.scss */
header #main-header .carrinho-preco {
  color: #017;
}
@media screen and (min-width: 1000px) {
  /* line 144, ../sass/style.scss */
  header #main-header .carrinho-preco .precos {
    position: relative;
    top: 20px;
    float: left;
  }
  /* line 150, ../sass/style.scss */
  header #main-header .carrinho-preco img {
    position: relative;
    top: 10px;
  }
}
/* line 156, ../sass/style.scss */
header #main-header .carrinho-preco span#preco-total {
  font-size: 1.25em;
}
/* line 163, ../sass/style.scss */
header #main-header .lista-cat ul:not(.nav-child) {
  margin: 0;
}
/* line 166, ../sass/style.scss */
header #main-header .lista-cat ul:not(.nav-child) li {
  display: inline-block;
  position: relative;
}
/* line 170, ../sass/style.scss */
header #main-header .lista-cat ul:not(.nav-child) li ul.nav-child {
  margin: 0;
  display: none;
  position: absolute;
  z-index: 500;
  width: 100%;
}
/* line 177, ../sass/style.scss */
header #main-header .lista-cat ul:not(.nav-child) li ul.nav-child li {
  display: block !important;
}
/* line 180, ../sass/style.scss */
header #main-header .lista-cat ul:not(.nav-child) li ul.nav-child li a {
  display: block;
  width: 100%;
  color: white !important;
  font-size: 12px;
  padding: 5px 10px;
}
/* line 11, ../sass/style.scss */
header #main-header .lista-cat .menu-livros ul li a {
  background-color: #ff7200;
  border-bottom: 1px solid #ff8e33;
}
/* line 15, ../sass/style.scss */
header #main-header .lista-cat .menu-livros ul li a:hover {
  background-color: #ff8e33;
}
/* line 11, ../sass/style.scss */
header #main-header .lista-cat .menu-uniformes ul li a {
  background-color: #3d165e;
  border-bottom: 1px solid #582087;
}
/* line 15, ../sass/style.scss */
header #main-header .lista-cat .menu-uniformes ul li a:hover {
  background-color: #582087;
}
/* line 11, ../sass/style.scss */
header #main-header .lista-cat .menu-materiais ul li a {
  background-color: #0066A9;
  border-bottom: 1px solid #0085dc;
}
/* line 15, ../sass/style.scss */
header #main-header .lista-cat .menu-materiais ul li a:hover {
  background-color: #0085dc;
}

/* line 199, ../sass/style.scss */
.container {
  padding-top: 20px;
}

/* line 203, ../sass/style.scss */
#buscar {
  margin-top: 20px;
}
/* line 207, ../sass/style.scss */
#buscar input {
  height: 41px;
}

/* line 212, ../sass/style.scss */
.main-block {
  border: 1px solid #e7e7e7;
  padding: 15px;
}
/* line 217, ../sass/style.scss */
.main-block .mb-header {
  padding: 2px 10px;
}
/* line 220, ../sass/style.scss */
.main-block .mb-header h1, .main-block .mb-header h2, .main-block .mb-header h3, .main-block .mb-header h4 {
  color: white !important;
}
/* line 225, ../sass/style.scss */
.main-block .mb-body {
  padding: 15px 0;
}

/* line 230, ../sass/style.scss */
.produtos-slider {
  padding: 0px 60px;
}
/* line 233, ../sass/style.scss */
.produtos-slider .slick-arrow {
  background-color: transparent;
  display: inline-block;
  color: black;
  padding: 8px 16px;
  font-size: 22px;
  position: absolute;
  z-index: 500;
  outline: none;
}
/* line 243, ../sass/style.scss */
.produtos-slider .slick-arrow.slick-prev {
  left: 0px;
  top: 35%;
}
/* line 248, ../sass/style.scss */
.produtos-slider .slick-arrow.slick-next {
  right: 0px;
  top: 35%;
}
/* line 253, ../sass/style.scss */
.produtos-slider .slick-arrow:hover {
  opacity: 0.75;
}

/* line 259, ../sass/style.scss */
.produto {
  padding: 10px;
  text-align: center !important;
}
/* line 264, ../sass/style.scss */
.produto a {
  outline: none;
  color: #555;
}
/* line 270, ../sass/style.scss */
.produto h5 {
  margin: 0;
  margin-bottom: 5px;
}
/* line 276, ../sass/style.scss */
.produto figure .produto-thumb {
  width: 100%;
}
/* line 283, ../sass/style.scss */
.produto:hover figure.zoom img {
  transform: scale(1.1);
}
/* line 289, ../sass/style.scss */
.produto .preco {
  font-size: 18px;
}

@media screen and (min-width: 1000px) {
  /* line 294, ../sass/style.scss */
  .menu-aux {
    width: 21% !important;
  }
  /* line 299, ../sass/style.scss */
  .menu-aux img {
    width: 100%;
  }
}
/* line 306, ../sass/style.scss */
.menu-aux ul li a {
  color: #555 !important;
  display: block;
  width: 100%;
  padding: 4px 8px;
  background-color: #e7e7e7;
  border-top: 1px solid #f7f7f7;
  font-size: 14px;
}
/* line 315, ../sass/style.scss */
.menu-aux ul li a i {
  color: #555 !important;
  margin-right: 5px;
  font-size: 12px;
}
/* line 321, ../sass/style.scss */
.menu-aux ul li a:hover {
  color: #017 !important;
  background-color: #ededed;
}

@media screen and (min-width: 1000px) {
  /* line 330, ../sass/style.scss */
  .cat-produtos {
    width: 79% !important;
  }
}
/* line 336, ../sass/style.scss */
.cat-produtos .p-list {
  float: left;
}
/* line 340, ../sass/style.scss */
.cat-produtos .paginate {
  float: left;
  width: 100%;
  text-align: center !important;
}
/* line 345, ../sass/style.scss */
.cat-produtos .paginate label, .cat-produtos .paginate select, .cat-produtos .paginate input {
  display: inline-block;
}
/* line 349, ../sass/style.scss */
.cat-produtos .paginate select {
  width: 100px;
}
/* line 353, ../sass/style.scss */
.cat-produtos .paginate label, .cat-produtos .paginate select {
  margin: 0 10px;
}
/* line 357, ../sass/style.scss */
.cat-produtos .paginate .numbers {
  padding-top: 20px;
}
@media screen and (min-width: 1000px) {
  /* line 361, ../sass/style.scss */
  .cat-produtos .paginate .numbers ul {
    margin-left: 30% !important;
  }
}

/* line 369, ../sass/style.scss */
#the-footer {
  margin-top: 20px;
  padding-top: 10px;
  background-color: #a5a5a5;
  min-height: 100px;
}
@media screen and (min-width: 1000px) {
  /* line 376, ../sass/style.scss */
  #the-footer .footer-logo {
    float: left;
  }
  /* line 380, ../sass/style.scss */
  #the-footer .footer-links {
    float: right !important;
    text-align: right;
  }
}
/* line 386, ../sass/style.scss */
#the-footer .footer-links {
  text-transform: uppercase;
}
/* line 387, ../sass/style.scss */
#the-footer .footer-links a {
  color: white !important;
}
